html {
    scroll-behavior: smooth;
}

/* responsive mobile screens */
@media only screen and (max-width: 767px) {
    .hamburger {
        display: block;
        right: 10px;
    }

    header {
        margin-top: 35px;
        margin-right: 1.5%;
        right: 0px;
    }

    header ul {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease, height 0.1s ease-in-out;
    }

    h4 {
        font-size: 30px;
    }

    h2 {
        width: 90%;
        font-size: 45px;
    }

    h6 {
        width: 90%;
        font-size: 14px;
        letter-spacing: 1px;
    }

    /* .profile {
        flex-direction: column;
        margin: auto;
    }

    .profile div {
        width: 90%;
    } */
    .btns p {
        display: none;
    }

    .menu-btn {
        display: none;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        width: 90% !important;
        text-align: center;
    }

    .grid p {
        font-size: 24px;
    }

    .grid a {
        font-size: 14px;
    }

    form {
        width: 85%;
    }

    .line {
        margin-top: 15%;
    }

    #topBtn {
        bottom: 10px !important;
        right: 15px !important;
    }

    .qualifications div {
        height: auto;
    }

    #dark-mode-button {
        transform: rotate(-5deg) !important;
        top: 0.2% !important;
    }

    .copyright {
        flex-direction: column;
    }

    .services {
        width: 98%;
    }

    .content h5 {
        font-size: 18px;
    }

    .content ul {
        font-size: 15px;
    }

    .options button {
        font-size: 10px !important;
    }

    .container {
        width: 95%;
    }

    .intrests {
        margin-top: 150px;
        transform: perspective(100px) rotateX(5deg);
    }

    #topBtn .rotate-icon {
        font-size: 26px !important;
        right: 5px !important;
    }

    #projects-grid img {
        display: block;
        width: 15px;
    }
    .bottom-top-buttons {
        margin-left: 0px;
    }
    .bottom-top-buttons ul {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .bottom-top-buttons ul li {
        padding: 0px 10px 0px 10px
    }
    .actual-content p {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .left-menu {
        width: 0px;
        position: absolute;
        left: 0;
        z-index: 99 !important;
        display: flex;
    }

    .left-menu ul {
        width: 0;
        display: none;
    }

    .left-menu ul li button {
        padding-right: 60px;
        letter-spacing: 0;
    }

    .phone-menu-button {
        display: block !important;
        position: relative;
        top: 350px;
        left: 0;
        height: fit-content;
    }

    .phone-menu-button button {
        font-size: 30px;
        padding: 15px 5px;
        border: 0;
        border-top-right-radius: 55%;
        border-bottom-right-radius: 55%;
        cursor: pointer;
        transition: all 0.3s;
    }
    .menu-img {
        width: 30px;
        height: 30px;
    }
    .menu-img img {
        width: 20px;
    }
    .top-menu ul li button {
        flex-direction: column;
        font-size: 12px;
    }
}

/* larger screens */
@media only screen and (min-width: 750px) {
    .intrests div {
        margin-left: 25px;
    }
}

/* tablet screens */
@media screen and (min-width: 768px) and (max-width: 960px) {

    /* .profile {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        position: relative;
        top: 1%;
        height: clamp(300px, 20%, 600px);
        width: 90%;
        margin: auto;
        align-items: stretch;
        justify-items: center;
    } */
    h2 {
        width: 90%;
        font-size: 55px;
    }

    .btns p {
        display: none;
    }

    .menu-btn {
        display: none;
    }

    form {
        width: 60%;
    }

    .qualifications div {
        margin-top: 100px;
        width: 70%;
        margin-bottom: -200px;
    }

    #projects-grid img {
        display: block;
    }

}

.phone-menu-button {
    display: none;
}

/* dark mode btn */
.menu-buttons {
    position: relative;
    right: 2%;
    top: 0.7%;
    z-index: 100;
    cursor: pointer;
    background: transparent;
    border: none;
    height: 0;
    font-size: 25px;
}

.menu-buttons img {
    width: 25px;
}


/* back to top button */
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 60px;
    z-index: 99;
    border: 0px solid black;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px;
    transition: box-shadow 0.2s, background-color 0.2s, color 0.2s;
}

#topBtn .rotate-icon {
    position: absolute;
    width: 25px;
    height: 30px;
    bottom: 0px;
    right: 0px;
    font-size: 20px;
    margin-right: 2px;
    outline: none;
    border: 0px;
    display: inline-block;
    transform: rotate(-90deg);
    color: black;
}