@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Inconsolata:wght@300&family=Pacifico&family=Roboto:wght@100;300&display=swap');

/*  FONTS
    -> headings text = font-family: 'Crimson Text', serif;
    -> technical text = font-family: 'Inconsolata', monospace;
    -> personal text = font-family: 'Pacifico', cursive;
    -> common text = font-family: 'Roboto', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, #f5f5f5, #ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.ham-line {
    width: 25px;
    background-color: #000;
    height: 1px !important;
    margin: 7px 1px;
    margin-left: 3px;
    transition: 0.2s ease-in-out;
    z-index: 99;
}

.hamburger {
    display: none;
    position: fixed;
    width: 30px;
    margin-top: 1%;
    margin-right: 2%;
    right: 5px;
    z-index: 100;
    border-radius: 5px;
    text-align: center;
}

/* changing ham lines to cross when .open class is added */
.hamburger.open .ham-line:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

.hamburger.open .ham-line:nth-child(2) {
    opacity: 0;
}

.hamburger.open .ham-line:nth-child(3) {
    transform: translateY(-6px) rotate(45deg);
}

header {
    position: fixed;
    width: 55px;
    height: 150px;
    margin-right: 2%;
    right: 5px;
    z-index: 100;
    text-align: center;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header ul li {
    margin-top: 20px;
}

header ul li:nth-child(2) {
    margin-left: 5px;
}

header ul li:nth-child(6) img {
    width: 30px;
}

.main {
    position: relative;
    width: 95%;
    height: auto;
    margin-top: 3%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    box-shadow:
        0px 7px 20px 0px #c0c0c0,
        -7px -7px 20px 0px #ffffff inset;
    overflow-y: auto;
}

h4 {
    position: relative;
    top: 0.2%;
    width: 20%;
    font-size: 35px;
    font-weight: 250;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    padding: 5px 10px;
    letter-spacing: 2px;
}

h2 {
    position: relative;
    top: 0%;
    width: 50%;
    font-size: 80px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    padding: 0px 10px;
    letter-spacing: 4px;
    font-family: 'Crimson Text', serif;
    background: linear-gradient(90deg, #ff2f00, #0099ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h6 {
    position: relative;
    top: 0.2%;
    width: 60%;
    font-size: 16px;
    font-weight: 550;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    padding: 2px 10px;
    border-radius: 5px;
    letter-spacing: 3px;
}

h5 {
    position: relative;
    top: 2.5%;
    margin: auto;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Crimson Text', serif;
    background: linear-gradient(90deg, #ff2f00, #0099ff);
    /* Define your gradient colors here */
    -webkit-background-clip: text;
    /* Webkit browsers */
    background-clip: text;
    color: transparent;
    /* Make the text transparent */
}

/* box-shadow:
-6px -6px 5px rgba(255, 255, 255, 0.5),
6px 6px 5px rgba(0, 0, 0, 0.1),
inset 0px 1px 10px rgba(255, 255, 255, 0.5),
inset 2px 2px 5px rgba(0, 0, 0, 0.1); */

.profile {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 1%;
    height: clamp(300px, 20%, 600px);
    width: 95%;
    margin: auto;
    align-items: stretch;
}


.profile div {
    position: relative;
    margin: 3%;
    margin-top: 20px;
    padding: 25px 10px;
    width: clamp(270px, 23%, 400px);
    border-radius: 10px;
    box-shadow:
        -6px -6px 5px rgba(255, 255, 255, 0.5),
        6px 6px 5px rgba(0, 0, 0, 0.1),
        inset 0px 1px 10px rgba(255, 255, 255, 0.5),
        inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: auto;
    transition: border 0.3s ease;
}

.profile div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, #ff2f00, #0099ff);
    border-image-slice: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.profile div:hover::before {
    opacity: 1;
}


.profile p {
    padding-top: 8%;
    padding-left: 5%;
    letter-spacing: 2px;
    font-size: 14px;
}

.profile span {
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Crimson Text', serif;
}

.btns {
    display: flex;
    justify-content: center;
}
.btns p{
    display: block;
    margin-top: -32px;
    font-size: 40px;
}
.menu-btn {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-size: 70%;
    letter-spacing: 2px;
    cursor: pointer;
    display: none;
    border-radius: 10px;
    width: 5%;
    margin: 34px 2% 2% 2%;
    text-align: center;
    padding: 10px 30px;
    box-shadow:
        -5px -5px 4px rgba(255, 255, 255, 0.7),
        5px 5px 4px rgba(0, 0, 0, 0.3);

    /* Hover effect */
    &:hover {
        font-size: 65%;
        box-shadow:
            inset 0px 1px 10px rgba(255, 255, 255, 0.7),
            inset 1px 1px 3px rgba(0, 0, 0, 0.3);
    }
}


.intrests h5,
.contact h5,
.projects h5 {
    font-size: 35px;
}

.qualifications {
    margin-top: 100px;
    margin-bottom: 200px;
}

.qualifications span li {
    font-size: 15px !important;
    margin-left: 15px;
}

#service-heading,
.qualifications h5 {
    font-size: 32px;
}

.contact h5 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.projects h5 {
    margin-top: 70px;
}

.qualifications div {
    width: 38%;
    overflow: hidden;
}

.qualifications ul li {
    font-size: 15px;
    letter-spacing: 2px;
    list-style-position: inside;
}

.qualifications ul {
    list-style: none;
    margin-left: 2%;
}

.projects {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 96% !important;
    height: 130%;
    overflow-x: hidden;
}

#projects-grid img {
    position: absolute;
    top: 5%;
    display: none;
    width: 20px;
    padding: 0px 3px;
    margin-top: -2.5px;
}

#projects-grid a:hover img {
    display: block;
}

.projects div {
    box-shadow: none;
    margin-bottom: 30px;
}

.grid {
    position: relative;
    display: grid;
    text-align: center;
    width: 80% !important;
    margin: auto;
    margin-top: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 25px;
}

.grid a {
    position: relative;
    align-items: center;
    display: flex;
    height: 30vh;
    justify-content: center;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 19px;
    color: black;
    background-color: #f0f0f0;
    border-radius: 10px;
    transition: all 0.2s;
    box-shadow:
        -5px -5px 10px rgba(255, 255, 255, 0.5),
        5px 5px 10px rgba(0, 0, 0, 0.2);

    &:hover {
        box-shadow:
            -10px -10px 20px rgba(255, 255, 255, 0.5),
            10px 10px 20px rgba(0, 0, 0, 0.2);
    }
}
.grid p{
    padding: 10px;
    font-size: 22px;
}
.grid span{
    font-size: 12px;
    color: gray;
}
.disabled-link {
    cursor: not-allowed;
    color: rgb(173, 171, 171) !important;
}

.services {
    position: relative;
    margin: auto;
    width: 80%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 100px;
}

.container {
    position: relative;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
}

.options {
    position: relative;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.options button:nth-child(1) {
    border-top-left-radius: 10px;
}

.options button:nth-child(3) {
    border-top-right-radius: 10px;
}

.options button {
    font-family: 'Crimson Text', serif;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    border: 0px;
    outline: none;
    cursor: pointer;
    width: 34%;
    background-color: #fff;
    position: relative;
    transition: all 0.2s ease;
    box-shadow:
        -5px -5px 10px rgba(255, 255, 255, 0.7),
        5px 5px 10px rgba(0, 0, 0, 0.1),
        inset 0px -10px 10px rgba(0, 0, 0, 0.1);

    &:focus {
        transform: scale(1.02);
        box-shadow:
            inset 0px -10px 10px rgba(0, 0, 0, 0);
    }
}

.content h5 {
    text-align: left !important;
    margin-left: 10%;
    margin-top: 2%;
    font-size: 24px;
}

.content {
    position: relative;
    height: 100%;
    text-align: left;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    box-shadow:
        -5px -5px 10px rgba(255, 255, 255, 0.7),
        5px 5px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 767px) {
    .options button:hover {
        transform: scale(1.05);
        box-shadow:
            inset 0px -10px 10px rgba(0, 0, 0, 0);
    }
}

.content ul {
    list-style: none;
    margin-left: 10%;
}




.intrests {
    position: relative;
    margin: auto;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 200px;
    background: rgb(236, 235, 235);
    border-radius: 20px;
    height: 170px;
    box-shadow:
        -10px -10px 20px rgba(255, 255, 255, 0.3),
        10px 10px 20px rgba(0, 0, 0, 0.3) inset;
    border: 1px solid rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center !important;
    transform: perspective(100px) rotateX(5deg);
}

.intrests div {
    position: relative;
    gap: 2vw;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    width: 97%;
}
.intrests div:hover a{
    animation-play-state: paused;
}

/* Hide the scrollbar for different browsers */
.intrests div::-webkit-scrollbar {
    width: 0;
}

.intrests div {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Microsoft Edge */
}
.intrests img{
    width: 80px;
}

.intrests a {
    border-radius: 10px;
    font-family: 'Crimson Text', serif;
    line-height: 22px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 170px;
    height: 80px;
    transition: all 0.2s ease;
    box-shadow:
        -5px -5px 10px rgba(255, 255, 255, 0.5),
        5px 5px 10px rgba(0, 0, 0, 0.2);
    background: #ffffffd3;
    animation: slide 13s linear infinite;

    &:hover {
        transform: scale(1.01);
        box-shadow:
            -10px -10px 20px rgba(255, 255, 255, 0.5),
            10px 10px 20px rgba(0, 0, 0, 0.2);
    }
}

@keyframes slide {
    100% {
      transform: translateX(-82vw);
      opacity: 0;
    }
  
    90% {
      opacity: 1;
    }
  
    50% {
      transform: translateX(0);
      opacity: 1;
    }
  
    0% {
      transform: translateX(82vw);
      opacity: 1;
    }
  }

.intrests a h6 {
    font-size: 11px;
    font-weight: 900;
    margin: 0;
}


.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

form {
    position: relative;
    margin: auto;
    width: 40%;
}

form textarea,
form input,
form button {
    position: relative;
    width: 100%;
    color: black;
    border: none;
    border-radius: 0px;
    padding: 10px 40px 0px 0px;
    line-height: 40px;
    border-bottom: 2px solid gray;
    background: transparent;
    outline: none;
    box-sizing: border-box;
}

form textarea:focus,
form input:focus {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, #ff2f00, #0099ff);
    border-image-slice: 1;
}

form button {
    position: relative;
    cursor: pointer;
    padding: 15px 0px;
    background: black;
    text-transform: uppercase;
    margin-top: 15px;
    color: white;
    box-sizing: border-box;
    border-bottom: 0px;
}


form button:hover {
    background: rgb(48, 47, 47);
}

.line {
    position: relative;
    width: 98%;
    height: 1px;
    background: rgb(173, 173, 173);
    margin: auto;
    margin-top: 85px;
}

.footer {
    position: relative;
    color: gray;
    font-weight: 900;
    font-size: 11px;
}

.footer a {
    color: rgb(88, 88, 246);
    text-decoration: none;
}

.footer a:hover {
    color: blue;
    text-decoration: underline;
}

.copyright {
    padding: 12px;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
}


#topBtn {
    box-shadow:
        4px 4px 8px rgba(0, 0, 0, 0.1),
        -4px -4px 8px rgba(255, 255, 255, 0.555);
}

#topBtn:hover {
    box-shadow:
        2px 2px 5px rgba(0, 0, 0, 0.1),
        -2px -2px 5px rgba(255, 255, 255, 0.1);
    background-color: #f5f5f5;
}